
{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Stage 1, Task Income: Instructions
{% endblock %}

{% block scripts %}

    {# this records the timestamp #}
    <script type="text/javascript">
            window.onload = function () {
                document.getElementById("arrive_time").value = (new Date()).toISOString();
            }
    </script>


{% endblock %}

{% block content %}
    {% formfield  player.time_GameInstructions with label=None  %}

    {#    paper effect starts   #}
<div class="instructions well well-lg">

    <p> In this stage, you will perform a sequence of tasks to earn your <em>task income</em>. The image below shows the screen where you will conduct such tasks:</p>

    </br>

        <div style="align-content: center; border:0px solid lightgrey">
            <img src="{% static "search_task/SearchTask.png" %}" width="500" align="center"/>
        </div> </br>

    <p>In the square on the left side of the screen, you will choose different locations using the mouse's left click. Search for the location that gives you the highest number of points. The "points earned" in your current location is shown on right side of the square, where you can also see the time left for the current task.</p>

    <p>Right above the square, you can see the direction in which you can earn more points. You can try as many locations as you want, within a time limit of 20 seconds per screen.</p>

    <p> The total number of points available in each task will be shown in the header. Your total <em>task income</em> will be the sum of your earnings in all these tasks. For every 100 points you earn, you will receive $1.00 (100 points = $1.00).</p>

    <p> If </p>

    <p> You will be given two un-timed trial tasks before the series of actual tasks starts. </p> </br>

    {#    The total amount you earn in these search tasks will be your task income.#}

    {#    paper effect starts   #}
</div>


    {% next_button %}

{% endblock %}


