{% extends "global/Base.html" %} {% load staticfiles otree_tags %}


{% block styles %}
<link href="{% static "jquery-ui/jquery-ui.min.css" %}" rel="stylesheet">
<link rel = "stylesheet" href ="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<style type="text/css">
.instructions{
    margin-top: 25px;
    border: 1px solid darkgray ;
}

</style>

{% endblock %}

{% block title%}
    Stage 1: Real Task
{% endblock %}

{% block scripts %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="{% static "lib/flot/jquery.flot.js" %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static "lib/jquery/jquery-ui.js" %}"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <script type="text/javascript">
    jQuery(document).ready(function ($) {
        $("#hideNext").hide();
    });
    </script>

    <script type="text/javascript" src="{% static "jsFiles/start.js" %}"></script>


{% endblock %}


{% block content %}
<input id = 'target'  type = "number" value = {{player.target_income}} style = 'display: none;'>
<input id = 'type'  type = "text" value = 'game' style = 'display: none;'>

<div ng-app="Game" >
    <div ng-controller="gameController" ng-init = showgame() ng-show="showpage.game">
        <div class="form-group required">
            <div class="controls">
                <input type="hidden" name="task_reward" id="task_reward" value="0">
            </div>
        </div>

        <p class = text-left>
            This is a real task/screen; it does count towards your <em>task income</em>. </p>

        <p class="text-left" >
            In this task/screen, you can earn a maximum of <span ng-bind="maxpoints"></span> points. </p>

        <p class="text-left" >
            Your current, accumulated <em>task income</em> is $<span ng-bind="parsedIncome"></span>.

                            <!-- real tasks -->
          <div class="container" ng-show="showpage.beforeGame">
            <div class="row">

            </div>
          </div>

          <!-- income earning -->
          <div class="container" >
            <div class="row" >
              <div class="col-md-3" >
              </div>
            </div>


            <div class="row">


            </div>
            <br><br>
            <div class="row">
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-5 text-left">
                    <h4 id="nearness" class="text-center"></h4>
                  </div>
                  <div class="col-md-4">
                    <h4 id="location" class="text-center"></h4>
                  </div>
                </div>
                <!-- Game -->
                <div class="row">
                  <!-- changed width and height to be 500, used to be 600-->
                  <div id="placeholder" style="width:400px;height:400px"></div>
                </div>
              </div>
              <div class="col-md-4" ng-show="showpage.setup">
                <!-- points earned -->
                <br><br>
                <div class="row" ng-show="showpage.setup">
                  <div class="col-md-4 col-md-offset-3">
                    <h4 id="timer">Time Left</h4>
                  </div>
                  <div class="col-md-2">
                    <h4 ng-bind="time"></h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4 col-md-offset-3">
                    <h4>Points</h4>
                  </div>
                  <div class="col-md-2">
                    <h4 id="points"></h4>
                  </div>
                </div>
                <!-- locator -->
                <div class="row">
                  <div class="col-md-11 col-md-offset-3">
                    <canvas id="locator" width="150px" height="250px"></canvas>
                  </div>
                </div>
                <div class="row">
                  <div class="text-center">
                    <button id="nexttask" type="button" class="btn btn-success" ng-click="nexttask()">Go To Next Task</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <br/>
        <br/>

    {# Instructions #}
    <div class="container">
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Show Instructions</button>
        <div id="demo" class="collapse">
            <div class="instructions well well-lg">

                    <p> In this stage, you will perform a sequence of tasks to earn your <em>task income.</em></p>
                    <p> In the square on the left side of the screen, you will choose different locations using the mouse's left click. Search for the location that gives you the highest number of points. The "points earned" in your current location is shown on right side of the square, where you can also see the time left for the current task.</p>
                    <p> Right above the square, you can see the direction in which you can earn more points. You can try as many locations as you want, within a time limit of 30 seconds per screen.</p>
                    <p> The total number of points available in each task will be shown in the header. Your total <em>task income</em> will be the sum of your earnings in all these tasks. For every 100 points you earn, you will receive $1.00 (100 points = $1.00).</p>
                    <p> You will be given two un-timed trial tasks before the series of actual tasks starts. </p> </br>

            </div>
        </div>
    </div>

    </div>
    <br/>

    <div id="hideNext" style="display: none;">

    {# Continue #}
        <h3> Done with task.</h3>
        <h3> Continue to rest of experiment.</h3>
        <br>
        <br>
            {% next_button %} </h3>
    </div>



</div>





{#{% if subsession.debug_mode == True %}#}
{#{% next_button %}#}
{#{% endif %}#}

{% endblock %}


{#<h4 ng-show="false" class="instructions">Use the <em>left-click</em> of the mouse to <em>move</em>#}
{#                  the yellow circle (in the left graph) and search for the location that gives you the highest#}
{#                  score in Points. The Points Indicator is on right (100 points = 1.00 dollar).#}
{#                  The assigned time is 35 seconds. You can try as many points as you want.</h4>#}
