{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
Adult Eyes Instructions
{% endblock %}

{% block content %}

    <p> For each set of eyes, choose and circle which word best describes what the person in the
        picture is thinking or feeling. You may feel that more than one word is applicable but
        please choose just one word, the word which you consider to be most suitable. Before
        making your choice, make sure that you have read all 4 words. You should try to do the
        task as quickly as possible but you will not be timed. If you really dont know what a
        word means you can look it up in the definition handout.
    </p>
    {% next_button %}

{% endblock %}
