{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{# NOTES #}
{# this template is all in dollars adapt to contemplate the possibility of points #}

{% block title %}
    Control Questions
{% endblock %}



{% block scripts %}

    # ankur cleans this
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="{% static "lib/flot/jquery.flot.js" %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static "lib/jquery/jquery-ui.js" %}"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>


{#    This is to nest numerals in lists#}
    <style>
        ol {
            counter-reset: item;
        }

        ol > li {
            counter-increment: item;
        }

        ol ol > li {
            display: block;
        }

        ol ol > li:before {
            content: counters(item, ".") ". ";
{#            margin-left: -40px;#}
        }
    </style>

    {# this records the timestamp #}
    <script type="text/javascript">
            window.onload = function () {
                document.getElementById("arrive_time").value = (new Date()).toISOString();
            }
    </script>


{% endblock %}







{% block content %}

    {% formfield  player.time_ControlQuestions with label=None  %}

    <h4 style="color: darkblue"> Please answer the following questions.</h4> <br/>


{####################################################################}

{#     ALL#}
<ol>

    <li> {% formfield player.ctrlQ_anonymity %}</li><br/>

    <li>{% formfield player.ctrlQ_who_transfers %}</li><br/>

{#    ################################################################}
{#     Stage 2: un paid treatments#}

    {% if group.treatment == 'NM' or group.treatment == 'FM' %}

        <li> <b> Consider a matched pair of Role A and Role B participants where each earns {% if not points %}$10.00{%endif%}{% if points %}10 points{% endif %} as <em>task income</em>, and receives {% if not points %}$3.00{%endif%}{% if points %}3 points{% endif %} of <em>endowment</em> in Stage 1. In Stage 2, Role A takes {% if not points %}${%endif%}X {% if points %}points{% endif %} from Role B's account.</b> </li> <br/>
    <ol>
        {% if points %}<li> {% formfield player.ctrlQ_A_earnings with label='What are the final earnings for the participant in Role A? (Hints: endowment plus task income equals $13.00. Do not include participation fee)' %}</li> <br/>{%endif%}
        {% if not points %}<li> {% formfield player.ctrlQ_A_earnings with label='What are the final earnings for the participant in Role A? (Hints: endowment plus task income equals 13 points. Do not include participation fee)' %}</li> <br/>{%endif%}
        {% if points %}<li> {% formfield player.ctrlQ_B_earnings with label='What are the final earnings for the participant in Role B? (Hints: endowment plus task income equals $13.00. Do not include participation fee)' %}</li> <br/>{%endif%}
        {% if not points %}<li> {% formfield player.ctrlQ_B_earnings with label='What are the final earnings for the participant in Role B? (Hints: endowment plus task income equals 13 points. Do not include participation fee)' %}</li> <br/>{%endif%}
    </ol>
    {% endif %}




{#    ################################################################}
{#     Stage 2: paid treatments DM/TP WTA/WTP BDMCONT/BDMLIST/SOP#}

    {% if group.treatment == 'DM' or group.treatment == 'TP' %}

       <li>{% formfield player.ctrlQ_B_always_sends %}</li> <br/>


        {# DM/TP WTA/WTP BDMCONT#}
        {% if group.value_type == 'WTP' and group.elicitation_method == 'BDM' and group.BDM_type == 'CONT' %}

        <li> <b> Consider a matched pair of Role A and Role B participants where each earns {% if not points %}$10.00{%endif%}{% if points %}10 points{% endif %} as <em>task income</em>, and receives {% if not points %}$3.00{%endif%}{% if points %}3 points{% endif %} of <em>endowment</em> in Stage 1. In Stage 2, Role A takes {% if not points %}${%endif%}X {% if points %}points{% endif %} from Role B's account. Role B states a willingness to pay (<em>valuation</em>) of {% if not points %}${%endif%}Y {% if points %}points{% endif %} for sending his/her message to {{ recipient }}. The <em>actual price</em> generated by the computer is {% if not points %}${%endif%}Z {% if points %}points{% endif %}. <p style="color: darkblue"> Assume {% if not points %}${%endif%}Y {% if points %}points{% endif %} > {% if not points %}${%endif%}Z {% if points %}points{% endif %}.</p> </b></li> <br/>

        {% elif group.value_type == 'WTA' and group.elicitation_method == 'BDM' and group.BDM_type == 'CONT' %}

        <li> <b> Consider a matched pair of Role A and Role B participants where each earns {% if not points %}$10.00{%endif%}{% if points %}10 points{% endif %} as <em>task income</em>, and receives {% if not points %}$3.00{%endif%}{% if points %}3 points{% endif %} of <em>endowment</em> in Stage 1. In Stage 2, Role A takes {% if not points %}${%endif%}X {% if points %}points{% endif %} from Role B's account. Role B states that his/her minimum acceptable compensation (<em>valuation</em>) of {% if not points %}${%endif%}Y {% if points %}points{% endif %} for NOT sending his/her message to {{ recipient }}. The <em>actual compensation</em> generated by the computer is {% if not points %}${%endif%}Z {% if points %}points{% endif %}. <p style="color: darkblue"> Assume {% if not points %}${%endif%}Y {% if points %}points{% endif %} < {% if not points %}${%endif%}Z {% if points %}points{% endif %}.</p> </b> </li> <br/>
        {% endif %}


        {# DM/TP WTA/WTP BDMLIST#}
        {% if   group.value_type == 'WTP' and group.elicitation_method == 'BDM' and group.BDM_type == 'LIST' %}
        <li> <b> Consider a matched pair of Role A and Role B participants where each earns {% if not points %}$10.00{%endif%}{% if points %}10 points{% endif %} as <em>task income</em>, and receives {% if not points %}$3.00{%endif%}{% if points %}3 points{% endif %} of <em>endowment</em> in Stage 1. In Stage 2, Role A takes {% if not points %}${%endif%}X {% if points %}points{% endif %} from Role B's account. The <em>actual price</em> randomly selected by the computer is {% if not points %}${%endif%}Z {% if points %}points{% endif %}, and Role B responded that he/she was willing to pay that amount for sending the message to {{ recipient }}.</b> </li> <br/>

        {% elif group.value_type == 'WTA' and group.elicitation_method == 'BDM' and group.BDM_type == 'LIST' %}
        <li> <b> Consider a matched pair of Role A and Role B participants where each earns {% if not points %}$10.00{%endif%}{% if points %}10 points{% endif %} as <em>task income</em>, and receives {% if not points %}$3.00{%endif%}{% if points %}3 points{% endif %} of <em>endowment</em> in Stage 1. In Stage 2, Role A takes {% if not points %}${%endif%}X {% if points %}points{% endif %} from Role B's account. The <em>actual compensation</em> randomly selected by the computer is {% if not points %}${%endif%}Z {% if points %}points{% endif %}, and Role B responded that he/she is prefers to receive such an amount over sending his message to {{ recipient }}.</b> </li> <br/>
        {% endif %}

{#          WTA/WTP SOP#}
        {% if   group.value_type == 'WTP' and group.elicitation_method == 'SOP' %}
        <li> <b> Consider a matched pair of Role A and Role B participants where each earns {% if not points %}$10.00{%endif%}{% if points %}10 points{% endif %} as <em>task income</em>, and receives {% if not points %}$3.00{%endif%}{% if points %}3 points{% endif %} of <em>endowment</em> in Stage 1. In Stage 2, Role A takes {% if not points %}${%endif%}X {% if points %}points{% endif %} from Role B's account. Suppose the <em>price</em> for sending a message to {{ recipient }} is {% if not points %}${%endif%}Z {% if points %}points{% endif %}, and Role B responded that he/she was willing to pay that amount for sending the message.</b> </li> <br/>

        {% elif group.value_type == 'WTA' and group.elicitation_method == 'SOP' %}
        <li> <b> Consider a matched pair of Role A and Role B participants where each earns {% if not points %}$10.00{%endif%}{% if points %}10 points{% endif %} as <em>task income</em>, and receives {% if not points %}$3.00{%endif%}{% if points %}3 points{% endif %} of <em>endowment</em> in Stage 1. In Stage 2, Role A takes {% if not points %}${%endif%}X {% if points %}points{% endif %} from Role B's account. Suppose the <em>compensation</em> for NOT sending a message to {{ recipient }} is {% if not points %}${%endif%}Z {% if points %}points{% endif %}, and Role B responded that he/she was willing to accept such an amount for NOT sending the message.</b> </li> <br/>
        {% endif %}
    <ol>
        {% if not points %}<li> {% formfield player.ctrlQ_A_earnings with label='What are the final earnings for the participant in Role A? (Hints: endowment plus task income equals $13.00. Do not include participation fee)'%} </li> <br/>{%endif%}
        {% if points %}<li> {% formfield player.ctrlQ_A_earnings with label='What are the final earnings for the participant in Role A? (Hints: endowment plus task income equals 13 points. Do not include participation fee)'%} </li> <br/>{%endif%}
    <li> {% formfield player.ctrlQ_B_sends_message %} </li> <br/>
        {% if not points %}<li> {% formfield player.ctrlQ_B_earnings with label='What are the final earnings for the participant in Role B? (Hints: endowment plus task income equals $13.00. Do not include participation fee)'%} </li> <br/>{%endif%}
        {% if points %}<li> {% formfield player.ctrlQ_B_earnings with label='What are the final earnings for the participant in Role B? (Hints: endowment plus task income equals 13 points. Do not include participation fee)'%} </li> <br/>{%endif%}

    </ol>
    {% endif %}

    </ol>

{####################################################################}

    <br/>
    {% next_button %}
    <br/>


    {# ADD INSTRUCTIONS HERE!#}
        {# Instructions #}
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn " ng-click="instructionsShow = !instructionsShow">Show Instructions</button>
                <br>
                <div id="demo" ng-show="instructionsShow">
                    <div class="instructions well well-lg">

   {% include '../templates/PTT_express_instructions/SummaryInstructions.html' %}

                                </br>

                    </div>
                </div>
            </div>
        </div>


{% endblock %}

