{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{# NOTES #}
{# this template is all in dollars adapt to contemplate the possibility of points #}

{% block title %}
    Control Questions
{% endblock %}

{% block scripts %}

{#    This is to nest numerals in lists#}
    <style>
        ol {
            counter-reset: item;
        }

        ol > li {
            counter-increment: item;
        }

        ol ol > li {
            display: block;
        }

        ol ol > li:before {
            content: counters(item, ".") ". ";
{#            margin-left: -40px;#}
        }
    </style>

{% endblock %}


{% block content %}

    <h4 style="color: darkblue"> Please answer the following questions.</h4> <br/>


{####################################################################}

{#     ALL#}
<ol>

    <li> {% formfield player.ctrlQ_anonymity %}</li><br/>

    <li>{% formfield player.ctrlQ_who_transfers %}</li><br/>

{#    ################################################################}
{#     Stage 2: un paid treatments#}

    {% if group.treatment == 'NM' or group.treatment == 'FM' %}

        <li> <b> Consider a matched pair of Role A and Role B participants where each earns {% if not points %}$10.00{%endif%}{% if points %}10 points{% endif %} as <em>task income</em>, and receives {% if not points %}$3.00{%endif%}{% if points %}3 points{% endif %} of <em>endowment</em> in Stage 1. In Stage 2, Role A takes {% if not points %}${%endif%}X {% if points %}points{% endif %} from Role B's account.</b> </li> <br/>
    <ol>
        {% if points %}<li> {% formfield player.ctrlQ_A_earnings with label='What are the final earnings for the participant in Role A? (Hints: endowment plus task income equals $13.00. Do not include participation fee)' %}</li> <br/>{%endif%}
        {% if not points %}<li> {% formfield player.ctrlQ_A_earnings with label='What are the final earnings for the participant in Role A? (Hints: endowment plus task income equals 13 points. Do not include participation fee)' %}</li> <br/>{%endif%}
        {% if points %}<li> {% formfield player.ctrlQ_B_earnings with label='What are the final earnings for the participant in Role B? (Hints: endowment plus task income equals $13.00. Do not include participation fee)' %}</li> <br/>{%endif%}
        {% if not points %}<li> {% formfield player.ctrlQ_B_earnings with label='What are the final earnings for the participant in Role B? (Hints: endowment plus task income equals 13 points. Do not include participation fee)' %}</li> <br/>{%endif%}
    </ol>
    {% endif %}




{#    ################################################################}
{#     Stage 2: paid treatments DM/TP WTA/WTP BDMCONT/BDMLIST/SOP#}

    {% if group.treatment == 'DM' or group.treatment == 'TP' %}

       <li>{% formfield player.ctrlQ_B_always_sends %}</li> <br/>


        {# DM/TP WTA/WTP BDMCONT#}
        {% if group.value_type == 'WTP' and group.elicitation_method == 'BDM' and group.BDM_type == 'CONT' %}

        <li> <b> Consider a matched pair of Role A and Role B participants where each earns {% if not points %}$10.00{%endif%}{% if points %}10 points{% endif %} as <em>task income</em>, and receives {% if not points %}$3.00{%endif%}{% if points %}3 points{% endif %} of <em>endowment</em> in Stage 1. In Stage 2, Role A takes {% if not points %}${%endif%}X {% if points %}points{% endif %} from Role B's account. Role B states a willingness to pay (<em>valuation</em>) of {% if not points %}${%endif%}Y {% if points %}points{% endif %} for sending his/her message to {{ recipient }}. The <em>actual price</em> generated by the computer is {% if not points %}${%endif%}Z {% if points %}points{% endif %}. <p style="color: darkblue"> Assume {% if not points %}${%endif%}Y {% if points %}points{% endif %} > {% if not points %}${%endif%}Z {% if points %}points{% endif %}.</p> </b></li> <br/>

        {% elif group.value_type == 'WTA' and group.elicitation_method == 'BDM' and group.BDM_type == 'CONT' %}

        <li> <b> Consider a matched pair of Role A and Role B participants where each earns {% if not points %}$10.00{%endif%}{% if points %}10 points{% endif %} as <em>task income</em>, and receives {% if not points %}$3.00{%endif%}{% if points %}3 points{% endif %} of <em>endowment</em> in Stage 1. In Stage 2, Role A takes {% if not points %}${%endif%}X {% if points %}points{% endif %} from Role B's account. Role B states that his/her minimum acceptable compensation (<em>valuation</em>) of {% if not points %}${%endif%}Y {% if points %}points{% endif %} for NOT sending his/her message to {{ recipient }}. The <em>actual compensation</em> generated by the computer is {% if not points %}${%endif%}Z {% if points %}points{% endif %}. <p style="color: darkblue"> Assume {% if not points %}${%endif%}Y {% if points %}points{% endif %} < {% if not points %}${%endif%}Z {% if points %}points{% endif %}.</p> </b> </li> <br/>
        {% endif %}


        {# DM/TP WTA/WTP BDMLIST#}
        {% if   group.value_type == 'WTP' and group.elicitation_method == 'BDM' and group.BDM_type == 'LIST' %}
        <li> <b> Consider a matched pair of Role A and Role B participants where each earns {% if not points %}$10.00{%endif%}{% if points %}10 points{% endif %} as <em>task income</em>, and receives {% if not points %}$3.00{%endif%}{% if points %}3 points{% endif %} of <em>endowment</em> in Stage 1. In Stage 2, Role A takes {% if not points %}${%endif%}X {% if points %}points{% endif %} from Role B's account. The <em>actual price</em> randomly selected by the computer is {% if not points %}${%endif%}Z {% if points %}points{% endif %}, and Role B responded that he/she was willing to pay that amount for sending the message to {{ recipient }}.</b> </li> <br/>

        {% elif group.value_type == 'WTA' and group.elicitation_method == 'BDM' and group.BDM_type == 'LIST' %}
        <li> <b> Consider a matched pair of Role A and Role B participants where each earns {% if not points %}$10.00{%endif%}{% if points %}10 points{% endif %} as <em>task income</em>, and receives {% if not points %}$3.00{%endif%}{% if points %}3 points{% endif %} of <em>endowment</em> in Stage 1. In Stage 2, Role A takes {% if not points %}${%endif%}X {% if points %}points{% endif %} from Role B's account. The <em>actual compensation</em> randomly selected by the computer is {% if not points %}${%endif%}Z {% if points %}points{% endif %}, and Role B responded that he/she was willing to accept that amount in exchange for NOT sending the message to {{ recipient }}.</b> </li> <br/>
        {% endif %}

{#          WTA/WTP SOP#}
        {% if   group.value_type == 'WTP' and group.elicitation_method == 'SOP' %}
        <li> <b> Consider a matched pair of Role A and Role B participants where each earns {% if not points %}$10.00{%endif%}{% if points %}10 points{% endif %} as <em>task income</em>, and receives {% if not points %}$3.00{%endif%}{% if points %}3 points{% endif %} of <em>endowment</em> in Stage 1. In Stage 2, Role A takes {% if not points %}${%endif%}X {% if points %}points{% endif %} from Role B's account. Suppose the <em>price</em> for sending a message to {{ recipient }} is {% if not points %}${%endif%}Z {% if points %}points{% endif %}, and Role B responded that he/she was willing to pay that amount for sending the message.</b> </li> <br/>

        {% elif group.value_type == 'WTA' and group.elicitation_method == 'SOP' %}
        <li> <b> Consider a matched pair of Role A and Role B participants where each earns {% if not points %}$10.00{%endif%}{% if points %}10 points{% endif %} as <em>task income</em>, and receives {% if not points %}$3.00{%endif%}{% if points %}3 points{% endif %} of <em>endowment</em> in Stage 1. In Stage 2, Role A takes {% if not points %}${%endif%}X {% if points %}points{% endif %} from Role B's account. Suppose the <em>compensation</em> for NOT sending a message to {{ recipient }} is {% if not points %}${%endif%}Z {% if points %}points{% endif %}, and Role B responded that he/she was willing to accept such an amount for NOT sending the message.</b> </li> <br/>
        {% endif %}
    <ol>
        {% if not points %}<li> {% formfield player.ctrlQ_A_earnings with label='What are the final earnings for the participant in Role A? (Hints: endowment plus task income equals $13.00. Do not include participation fee)'%} </li> <br/>{%endif%}
        {% if points %}<li> {% formfield player.ctrlQ_A_earnings with label='What are the final earnings for the participant in Role A? (Hints: endowment plus task income equals 13 points. Do not include participation fee)'%} </li> <br/>{%endif%}
    <li> {% formfield player.ctrlQ_B_sends_message %} </li> <br/>
        {% if not points %}<li> {% formfield player.ctrlQ_B_earnings with label='What are the final earnings for the participant in Role B? (Hints: endowment plus task income equals $13.00. Do not include participation fee)'%} </li> <br/>{%endif%}
        {% if points %}<li> {% formfield player.ctrlQ_B_earnings with label='What are the final earnings for the participant in Role B? (Hints: endowment plus task income equals 13 points. Do not include participation fee)'%} </li> <br/>{%endif%}

    </ol>
    {% endif %}

    </ol>

{####################################################################}

    <br/>
    {% next_button %}
    <br/>

    {# ADD INSTRUCTIONS HERE!#}

{% endblock %}



{#    <p> In order to assure that everyone understands the rules of today’s experiment, we ask you to answer the following questions. Please raise your hand once you are done and an experimenter will attend to you. #}

{#    1. Once you are paired with another participant, will you ever know the identity of this other participant?  #}
{#    Answer: Yes   No#}
{#    2. If you are assigned the role B, will you decide how much to transfer into A’s account?#}
{#    Answer: Yes . No .#}
{#    3.  If you are assigned the role of B, will you be able to send a written message to your counterpart A, for sure?  #}
{#    Answer: Yes . No .#}
{#    5.  Suppose John and his counterpart each earned $10.00 of task income. Later, John is assigned Role B. Then, his counterpart A transfers an $X amount from John’s account into A’s account.  John (B) submits $2.00 as his willingness to pay to send a message to A. Please, answer the following questions using this information.#}
{#    (a)        If the actual price randomly drawn by the computer is $1.00, what are the total earnings for the participant with role A and B? #}
{##}
{#    Answer for A’s earnings (in $)#}
{#    10 - X #}
{#    10 + X#}
{#    10#}
{##}
{#    Answers for B’s earnings (in $)#}
{#    10 - X - 1#}
{#    10 - X - 2#}
{#    10 - X#}
{##}
{##}
{#    (b)   	If the actual price randomly drawn by the computer is $3.00, what are the total earnings for the participant with role A and B? #}
{##}
{##}
{#    Answer for A’s earnings (in $)#}
{#    10 - X #}
{#    10 + X#}
{#    10#}
{##}
{##}
{#    Answers for B’s earnings (in $)#}
{#    10 - X - 2#}
{#    10 - X - 3#}
{#    10 - X#}

{#    {% if group.treatment != 'TP' %}#}
{##}
{#    {% endif %}#}
{##}
{##}
{##}
    {#    Stage 2: general | only TP #}
{#    {% if group.treatment  == 'TP' or player.role == 'TP-R' %}#}
{##}
{#    {% endif %}#}
{#        ##############}


{##}
{#        <br/>#}
{#          DM/TP WTA/WTP BDMCONT#}
{#        {% if group.value_type == 'WTP' and group.elicitation_method == 'BDM' and group.BDM_type == 'CONT' %}#}
{#            <p> Suppose Role B states a <em>valuation</em> of $2.00 for sending a message to {{ recipient }}, and the <em>actual price</em> generated by the computer is $3.00:</p>#}
{#        {% elif group.value_type == 'WTA' and group.elicitation_method == 'BDM' and group.BDM_type == 'CONT' %}#}
{#            <p> Suppose Role B states a <em>valuation</em> of $2.00 for sending a message to {{ recipient }}, and the <em>actual compensation</em> generated by the computer is $3.00:</p>#}
{#        {% endif %}#}
{##}
{#          WTA/WTP BDMLIST#}
{#        {% if   group.value_type == 'WTP' and group.elicitation_method == 'BDM' and group.BDM_type == 'LIST' %}#}
{#            <p> Suppose the <em>actual price</em> for sending a message to {{ recipient }} is $3.00, and Role B responded that he/she was not willing to pay that amount for sending the message:</p>#}
{#        {% elif group.value_type == 'WTA' and group.elicitation_method == 'BDM' and group.BDM_type == 'LIST' %}#}
{#            <p> Suppose the <em>actual compensation</em> for NOT sending a message to {{ recipient }} is $3.00, and Role B responded that he/she was willing to accept such an amount for not sending the message:</p>#}
{#        {% endif %}#}
{##}
{#          WTA/WTP SOP#}
{#        {% if   group.value_type == 'WTP' and group.elicitation_method == 'SOP' %}#}
{#            <p> Suppose the <em>price</em> for sending a message to {{ recipient }} is $3.00, and Role B responded that he/she was not willing to pay that amount for sending the message:</p>#}
{#        {% elif group.value_type == 'WTA' and group.elicitation_method == 'SOP' %}#}
{#            <p> Suppose the <em>compensation</em> for NOT sending a message to {{ recipient }} is $3.00, and Role B responded that he/she was willing to accept such an amount for not sending the message:</p>#}
{#        {% endif %}#}
{##}
{#       <li>{% formfield player.ctrlQ_B_sends_case2 %}</li>#}
{#       <li>{% formfield player.ctrlQ_B_earnings_case2 %}</li>#}

{#        {% if group.treatment == 'FM' %}#}
{#           <li>{% formfield player.ctrlQ_B_always_sends %}</li> <br/>#}
{#        {% endif %}#}
