{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}

<p>
Welcome to the LEEPS Laboratory. During the course of the session, you will be asked to make a series of decisions. By participating in this study, you will earn real money that will be paid to you in cash at the end of the experiment. Please do not talk to any other participants during the whole duration of the study.
</p>

<p>
This experiment consists of two parts. In Part 1 you will earn some income and in Part 2 you will interact with another participant.
</p>
    
<h3> Part 1 </h3>
<p>
In Part 1, you will receive an endowment of $3. You will then perform a sequence of search tasks. You will have 30 seconds to complete each task. This is the screen where you will perform such tasks:
</p></br>

<div style="align-content: center; border:1px solid lightgrey">
    <img src="{% static "PTT_express_instructions/SearchTask.png" %}"/>
</div> </br>

<p>
In this square (on the left side of the screen), you can choose different locations using the computer’s mouse. Search for the location that gives you the highest number of points. The number of points associated with your current location is shown on right side of the square. Above the square, you can see directions of where to move the mouse to earn more points, or whether you already achieved the highest number of points.
</p>

<p>
The total number of points available in each task is shown on the screen. For every 100 points you earn, you will receive $1.00. You will be given two untimed trial tasks before the real tasks start. The total amount you earn in these search tasks will be your task income.
</p>
    <br/>

<h3>Part 2</h3>
<p>
In Part 2, you will be anonymously paired with another participant. You will be randomly assigned to be either role <strong>A</strong> or role <strong>B</strong>. You will remain in the same role throughout the entire duration of the experiment, and will be informed about your role on your computer screen once Part 2 starts. You will not be informed about the identity of the person you are paired with, neither during nor after the experiment.
</p> </br>
<h4> Role A</h4>
<p>
If you are of role A, you are to decide how much of B’s <em>task income</em> you would like to transfer into your own account. You are able to transfer anywhere from 0 to 100 percent of B’s <em>task income</em>, but you will not be able to transfer B’s endowment. You will be making your decision on a screen like this one:
</p></br>

<div style="align-content: center; border:1px solid lightgrey">
    <img src="{% static "PTT_express_instructions/A_decision_screen.png" %}"/>
</div> </br>

<h4>Role B</h4>
<p>
If you are of role B, you will be asked to guess what percentage of your <em>task income</em> A transferred to his/her own account.

<p>
After A has taken a share of your task income, you may buy the right to send a message to A.  You will be asked to provide the maximum amount that you are willing to pay to send the message to A. We will refer to this amount as your valuation. After you submit your valuation, you will learn the actual price of sending your message. This price is randomly generated by the computer and all numbers between $0 and $3 are equally likely. Your price will be drawn independently from other B-role participants.
</p>

<p>
If your valuation is greater than or equal to the computer’s generated price, then you will be able to send a message and will pay the actual price generated by the computer. If your valuation is lower than the actual computer-generated price, then you do get to buy the right to send a message.

<p>
After this interaction, both members of each pair will see the corresponding payoffs information. Also before the search tasks and after the interaction, you will be asked to answer a series of brief questions.
</p>
    <br/>

    {% next_button %}

{% endblock %}
