{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Role A's decision </p>
{% endblock %}

{% block scripts %}

    <script type="text/javascript">
            window.onload = function () {
                document.getElementById("arrive_time").value = (new Date()).toISOString();
            }
    </script>

    <script type="text/javascript" src="{% static "jquery-ui/jquery-ui.min.js" %}"></script>

    <script>
        jQuery(document).ready(function ($) {
            $("#slider")
                .slider({
                    start: function () {
                        $(this).children(".ui-slider-handle").show();
                        // removes the start listener after its first calling
                        // probably not necessary
                        $(this).slider({start:undefined});
                    },
                    slide: function (event, ui) {
                        $("#slider_val").text(ui.value);
                        $("#dollars_taken").text((ui.value/100 * {{b_task_income}}).toFixed(2));
                    },
                    stop: function (event, ui) {
                        $("#id_take_rate").val(ui.value);
                    }})
                .children(".ui-slider-handle").hide();
        });
    </script>

{% endblock %}


{% block styles %}
    <link href="{% static "jquery-ui/jquery-ui.min.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

    {% formfield  group.time_ADecides with label=None  %}

    <p> Since your Role is <em>A</em>, you are given the authority to transfer money from <em>B</em>'s account to your own account.</p>

    <p> The maximum amount you can take is what <em>B</em> has earned as <em>task income</em> in the search tasks ({{b_task_income_}}). </p>

    <p> Use the slider below to set the percentage of <em>B</em>'s income you want to transfer to your account. </p>

    <br/> {# line break #}

    <div style="width: 80%; margin: auto;">

        <div style="text-align: center">You are taking <span id="slider_val">__</span>% of B's task income
            ({% if not points %}${%endif%}<span id="dollars_taken">_.__</span>{% if points %} points{% endif %}).</div>
        <div><span class="pull-left">0%</span><span class="pull-right">100%</span></div>
        <div id="slider" style="clear: both; width: 96%; margin: auto;"></div>
    </div>

    {% formfield group.take_rate with label=None %}

    <br/> {# line break #}

    {% next_button %}

{% endblock %}