{% extends "global/Base.html" %}
{% load staticfiles otree_tags index %}
{% load templ %}

{% block title %}
    Role B
{% endblock %}

{% block scripts %}

    {# this records the timestamp #}
    <script type="text/javascript">
            window.onload = function () {
                document.getElementById("arrive_time").value = (new Date()).toISOString();
            }
    </script>

<!--{#    <script type="text/javascript" src="{% static "jquery-ui/jquery-ui.min.js" %}"></script>#}-->
<!--{#    <script type="text/javascript">#}-->
<!--{#        jQuery(document).ready(function ($) {#}-->
<!--{#            var input = $('#id_b_message');#}-->
<!--{#            input.text("");#}-->
<!--{#            var hello = function(){#}-->
<!--{#                if(input.val() != ""){#}-->
<!--{#                    $("#hideNext").show();#}-->
<!--{#                } else {#}-->
<!--{#                    $("#hideNext").hide();#}-->
<!--{#                }#}-->
<!--{#            }#}-->
<!--{#            $("textarea").on({#}-->
<!--{#                mouseenter: hello,#}-->
<!--{#                mouseleave: hello,#}-->
<!--{#                click: hello,#}-->
<!--{#                blur: hello,#}-->
<!--{#                keyup: hello#}-->
<!--{#            });#}-->
<!--{#            $("#hideNext").hide();#}-->
<!--{#        });#}-->
<!--{#    </script>#}-->

    <!-- Add the following scripts to your file -->
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <script src="/static/emoji_keyboard/emojionearea.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/emoji_keyboard/emojionearea.min.css">
    <script type="text/javascript" src="/static/jsFiles/emojiArea.js"></script>
    <script type="text/javascript" src='{% static "global/validate.js" %}'></script>


{% endblock %}



{% block content %}

    {% formfield  group.time_AllBdmList with label=None  %}

    {# INFO#}
    <p> <em>Role A</em> has taken <b>{{group.take_rate}}%</b> ({{group.money_taken}}) of your <em>task income</em>. </p>
    <p> Now, your <em>available income</em> is {{player.available_income1}}. </p>
    <br/>

         <table class="table table-striped table-bordered table-nonfluid" align="center">
        <tr>
          <td class="col-md-1"></td>
          <td class="col-md-1 text-center">Role A {% if player.role == 'A' %} (<strong style="color: #cd0a0a">You</strong>) {% endif %}</td>
          <td class="col-md-1 text-center">Role B {% if player.role == 'B' %} (<strong style="color: #cd0a0a">You</strong>) {% endif %}</td>
        </tr>
        <tr >
          <td>Endowment</td>
          <td class="text-center">{{ A_endowment }}</td>
          <td class="text-center">{{ B_endowment }}</td>
        </tr>
        <tr>
          <td>Task Income</td>
          <td class="text-center">+ {{ A_task_income }}</td>
          <td class="text-center">+ {{ B_task_income }}</td>
        </tr>
        <tr>
          <td>Money Taken</td>
          <td class="text-center" style="color: #cd0a0a">+ {{ group.money_taken}}</td>
          <td class="text-center" style="color: #cd0a0a">- {{ group.money_taken}}</td>
        </tr>
        <tr>
          <td> <strong> New Available Income </strong> </td>
          <td class="text-center"> {{A_available_income1}} </td>
          <td class="text-center"> {{B_available_income1}} </td>
        </tr>
      </table>
    <br/>



    {# MESSAGE#}
    <div>
    {% if group.treatment == 'DM' %}
        <p> If you would like to write a <b>message to <em>Role A</em> regarding his/her decision</b>, use the message box below:</p>
    {% elif group.treatment == 'TP' %}
        <p> If you would like to write a <b>message to the <em>Reader</em> regarding Role A's decision</b>, use the message box below:</p>
    {% endif %}
        <textarea name="b_message" rows="10" cols="40" id="id_b_message" class="form-control area"></textarea>

    </div>
    <p>
        If you do not wish to write any message, make sure the message box is empty and click
         <input class="next-button no-input" type="submit" value="here.">
    </p>
    <br/>
    <br/>

        {# VALUATION#}

        {# WTP #}
        {% if group.value_type == 'WTP' %}

            <p> For each of the prices you see in the table below, respond to the following question: </p>
            <p> Would you like to pay this price for sending your message to
                {% if group.treatment == 'DM' %} <em>Role A</em>?
                {% elif group.treatment == 'TP' %} the <em>Reader</em>?
                {% endif %} </p>

            <br/>

         <table class="table table-striped table-bordered table-nonfluid" align="center">
                <tr>
                    <th> {% if group.value_type == 'WTP' %} Price
                         {% elif group.value_type == 'WTA' %} Amount {% endif %} </th>
                    <th> {% if group.value_type == 'WTP' %} Willing to pay
                         {% elif group.value_type == 'WTA' %} Willing to receive {% endif %} </th>
                </tr>
                {#        THIS PART HAS AN ISSUE WHEN USING allButTwoLast #}
                {% for field in form|allButTwoLast %}
                    <tr>
                        <td> Price: {{ prices|index:forloop.counter0 }}  </td>
                        <td> {% formfield field with label=None %} </td>
                    </tr>
                {% endfor %}
         </table>

        {# WTA #}
        {% elif group.value_type == 'WTA' %}

            <p> In each row below, make a choice between sending your messages to
                {% if group.treatment == 'DM' %} <em>Role A</em>
                {% elif group.treatment == 'TP' %} the <em>Reader</em> {% endif %}
                or receiving the indicated amount. </p>


                <style>
                #list_div {
                    width: 50%;
                }
                </style>

                <div id="list_div">

                 <table class="table table-striped  " align="center">
                    {#        THIS PART HAS AN ISSUE WHEN USING allButTwoLast #}
                    {% for field in form|allButTwoLast %}
                        <tr>
                            <td align="right"> {% formfield field with label=None %} </td>
                            <td align="left"> {{ prices|index:forloop.counter0 }}  </td>
                        </tr>
                    {% endfor %}
                </table>

                </div>

        {% endif %}
        <br/>



    {# SCRIPTS#}

{#    {% next_button %}#}
    {% include "../../PTT_expression/templates/PTT_expression/submit.html" %}


    <br/> {# line break #}

    {% include "../../PTT_express_instructions/templates/PTT_express_instructions/SummaryInstructions.html" %}

{% endblock %}


{#                    {% formfield group.'list_price_{0}_yes'.format(i) with label=None %}#}
{#                    {% formfield group.list_price_1_yes with label=None %}#}
