{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Role B
{% endblock %}

{% block scripts %}

    {# this records the timestamp #}
    <script type="text/javascript">
            window.onload = function () {
                document.getElementById("arrive_time").value = (new Date()).toISOString();
            }
    </script>
    <!-- Add the following scripts to your file -->
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <script src="/static/emoji_keyboard/emojionearea.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/emoji_keyboard/emojionearea.min.css">
    <script type="text/javascript" src="/static/jsFiles/emojiArea.js"></script>
    <script type="text/javascript" src='{% static "global/validate.js" %}'></script>


{% endblock %}



{% block content %}

    {% formfield  group.time_AllBdmCont with label=None  %}

    {# INFO #}
    <p> <em>Role A</em> has taken <b>{{group.take_rate}}%</b> ({{group.money_taken}}) of your <em>task income</em>. </p>
    <p> Now, your <em>available income</em> is {{player.available_income1}}. </p>
    <br/>

         <table class="table table-striped table-bordered table-nonfluid" align="center">
        <tr>
          <td class="col-md-1"></td>
          <td class="col-md-1 text-center">Role A {% if player.role == 'A' %} (<strong style="color: #cd0a0a">You</strong>) {% endif %}</td>
          <td class="col-md-1 text-center">Role B {% if player.role == 'B' %} (<strong style="color: #cd0a0a">You</strong>) {% endif %}</td>
        </tr>
        <tr >
          <td>Endowment</td>
          <td class="text-center">{{ A_endowment }}</td>
          <td class="text-center">{{ B_endowment }}</td>
        </tr>
        <tr>
          <td>Task Income</td>
          <td class="text-center">+ {{ A_task_income }}</td>
          <td class="text-center">+ {{ B_task_income }}</td>
        </tr>
        <tr>
          <td>Money Taken</td>
          <td class="text-center" style="color: #cd0a0a">+ {{ group.money_taken }}</td>
          <td class="text-center" style="color: #cd0a0a">- {{ group.money_taken }}</td>
        </tr>
        <tr>
          <td> <strong> New Available Income </strong> </td>
          <td class="text-center"> {{ A_available_income1 }} </td>
          <td class="text-center"> {{ B_available_income1 }} </td>
        </tr>
      </table>
    <br/>



    {# MESSAGE#}
    <div>
    {% if group.treatment == 'DM' %}
        <p> If you would like to write a <b>message to <em>Role A</em> regarding his/her decision</b>, use the message box below:</p>
    {% elif group.treatment == 'TP' %}
        <p> If you would like to write a <b>message to the <em>Reader</em> regarding Role A's decision</b>, use the message box below:</p>
    {% endif %}
       <!-- Add the area class to the text area div -->
       <textarea name="b_message" rows="10" cols="40" id="id_b_message" class="form-control area"></textarea>
    </div>
    <p>
        If you do not wish to write any message, make sure the message box is empty and click
         <input class="next-button no-input" type="submit" value="here.">
    </p>
    <br/>
    <br/>


    {# VALUATION#}

    {# WTP #}
    {% if group.value_type == 'WTP' %}

        <p> What is the maximum amount you are willing to pay to send this message to
            {% if group.treatment == 'DM' %} Role <em>A</em>?
            {% elif group.treatment == 'TP' %} the <em>Reader</em>? (your message will not be sent to <em>Role A</em>)
            {% endif %} </p>

        <p> Please enter your <em>valuation</em> in the field below
            ({% if not points %}use dollars and cents).
            {% elif points %}use whole points).
            {% endif %} </p>
        </p>

        {% formfield group.b_value with label="" %}

        <p>
            The <em>actual price</em>, generated by the computer, will be displayed on the next screen.
        </p>

    {# WTA #}
    {% elif group.value_type == 'WTA' %}

        <p> What is the minimum amount you are willing to accept in exchange for not sending your message to
          {% if group.treatment == 'DM' %} Role A?
          {% elif group.treatment == 'TP' %} the Reader?
          {% endif %}
        </p>
        <p>Please enter your response in the field below in
            {% if not points %} dollars and cents.
            {%elif points %} whole points.
            {% endif %} </p>

        {% formfield group.b_value with label="" %}

        <p>The <em>actual compensation</em>, generated by the computer, will be displayed on the next screen.</p>

    {% endif %}

        <br/>
        <br/>

{#    {% next_button %}#}
    <input class="btn btn-large btn-primary next-button disp" type="submit" value="Submit">
    <span id="invalid-fields" style="color: darkgray;"> Write your message before submitting. </span>



    <br/> {# line break #}



    {% include "../../PTT_express_instructions/templates/PTT_express_instructions/SummaryInstructions.html" %}


{% endblock  %}

{# have this checked and cleaned#}




{#    <input class="btn btn-large btn-primary next-button disp" type="submit" value="Submit Decision" disabled="disabled">#}
{#    <input class="btn btn-large btn-primary next-button disp" type="submit" value="Submit Decision" disabled="disabled">#}
{##}
{#    <p><br/></p>#}
{#    <p style="color: grey">If you do not want to write and send any message, you can leave the message box empty and set your valuation equal to zero and click on "proceed without message" below.</p>#}
{#    <input class="btn  btn-sm next-button no-input" type="submit" value="Proceed without message">#}
