{% extends "global/Base.html" %} {% load staticfiles otree_tags %}

{% block title %}
 Initial Results and Message
{% endblock %}

{% block content %}
    {% block scripts %}
            <script type="text/javascript" src="{% static "jquery-ui/jquery-ui.min.js" %}"></script>
            <script type="text/javascript">
                jQuery(document).ready(function ($) {
                    var input = $('#id_b_message');
                    input.text("");
                    var hello = function(){
                        if(input.val() != ""){
                            $("#hideNext").show();
                        } else {
                            $("#hideNext").hide();
                        }
                    }
                    $("textarea").on({
                        mouseenter: hello,
                        mouseleave: hello,
                        click: hello,
                        blur: hello,
                        keyup: hello
                    });
                    $("#hideNext").hide();
                });
            </script>
    {% endblock %}
    {# INFO#}
    <h3>Initial Results</h3>
    <p> Your counterpart, player A, has transferred {{group.take_rate}}% of your task income
        ({{player.task_income}}) to his/her own account. </p>
    <p> Your available earnings are now {{player.available_income1}} </p>
    {# this records the timestamp #}
    {# MESSAGE#}
    <h3>Message</h3>
    {# <script type="text/javascript"> #}
            {#    window.onload = function () {    #}
             {#   document.getElementById("arrive_time").value = (new Date()).toISOString();   #}
            {#  }   #}
    {# </script> #}
    {# { % formfield  group.time_WriteMessage with label=None  %}  #}
    {% if group.treatment == 'DM' %}
        <p> Message to counterpart A.</p>
    {% elif group.treatment == 'TP' %}
        <p> Message to reader.</p>
    {% endif %}

    {% formfield group.b_message with label="Write a message here" %}
    {# this records the timestamp #}

    {# EVALUATION#}
    <h3>Value of Message</h3>

        {# <script type="text/javascript"> #}
            {#    window.onload = function () {    #}
             {#   document.getElementById("arrive_time").value = (new Date()).toISOString();   #}
            {#  }   #}
    {# </script> #}
    {# { % formfield  group.time_ElicitBdmCont with label=None  %} #}

    {% if group.value_type == 'WTP' %}

        <p> What is the maximum amount you would be willing to pay to send the message you wrote to
          {% if group.treatment == 'DM' %} your counterpart A?
          {% elif group.treatment == 'TP' %} a reader in the room (not your counterpart A)?
          {% endif %}
        </p>

        {% formfield group.b_value with label="Willingness to pay (in dollars and cents)" %}

        <p>The actual price of sending your message will be displayed on the next screen.</p>

    {% elif group.value_type == 'WTA' %}

        <p> You have the right to send your written message to
          {% if group.treatment == 'DM' %} your counterpart A.
          {% elif group.treatment == 'TP' %} someone else in the room (a reader).
          {% endif %} </p>
        <p> What is the minimum amount you would be willing to accept in exchange for NOT sending that message to
          {% if group.treatment == 'DM' %} your counterpart A?
          {% elif group.treatment == 'TP' %} someone else in the room (a reader)?
          {% endif %}
        </p>

        {% formfield group.b_value with label="Willingness to accept (in dollars and cents)" %}

        <p>The actual amount you would receive for not sending your message will be displayed on the next screen.</p>

    {% endif %}

    {% next_button %}
    <div id="hideNext" style="display: none;">
    </div>

{% endblock  %}

{# have this checked and cleaned#}





