{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Information, B Decides
{% endblock %}

{# SCRIPTS#}
{% block scripts %}

    {# this records the timestamp #}
    <script type="text/javascript">
            window.onload = function () {
                document.getElementById("arrive_time").value = (new Date()).toISOString();
            }
    </script>

        <script type="text/javascript" src="{% static "jquery-ui/jquery-ui.min.js" %}"></script>
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                var input = $('#id_b_message');
                input.text("");
                var hello = function(){
                    if(input.val() != ""){
                        $("#hideNext").show();
                    } else {
                        $("#hideNext").hide();
                    }
                }
                $("textarea").on({
                    mouseenter: hello,
                    mouseleave: hello,
                    click: hello,
                    blur: hello,
                    keyup: hello
                });
                $("#hideNext").hide();
            });
         </script>

{% endblock %}


{% block content %}

    {% formfield  group.time_AllSOP with label=None  %}

    {# INFO #}
    <h3> Information </h3>
    <p> Your counterpart, player A, has transferred {{group.take_rate}}% of your task income
        ({{player.task_income}}) to his/her own account. </p>

    {# MESSAGE#}
    <h3>Message</h3>
        {#  { % formfield  group.time_WriteMessage with label=None  %}  #}              {# Ask for this because there's a script repetition: from message timer and messageprice tiemr #}
        {% if group.treatment == 'DM' %}
            <p> Message to counterpart A.</p>
        {% elif group.treatment == 'TP' %}
            <p> Message to reader.</p>
        {% endif %}
            {# <script type="text/javascript">  #}
            {#  window.onload = function () {    #}
            {#      document.getElementById("arrive_time").value = (new Date()).toISOString();  #}
            {#  }  #}
            {# </script>  #}
        {% formfield group.b_message with label="Write a message here" %}

    {# EVALUATION#}
    <h3>Valuation</h3>

    {#  { % formfield  group.time_ElicitSOP with label=None  %}   #}   {# Ask for this because there's a script repetition: from message timer and messageprice tiemr #}
        {% if group.value_type == 'WTP' %}
            <p> Would you like to pay {{ group.SOP_price }} for sending your message to
                {% if group.treatment == 'DM' %} your counterpart, player A?
                {% elif group.treatment == 'TP' %} the third party reader?
                {% endif %} </p>
        {% elif group.value_type == 'WTA' %}
            <p> Would you like to receive {{ group.SOP_price }} for NOT sending your message to
                {% if group.treatment == 'DM' %} your counterpart, player A?
                {% elif group.treatment == 'TP' %} the third party reader?
                {% endif %} </p>
        {% endif %}
    {% formfield  group.SOP_yes with label="Use these radio buttons to enter your response" %}


    {% next_button %}
    <div id="hideNext" style="display: none;"> </div>

        <br/> {# line break #}

    {% include "../../PTT_express_instructions/templates/PTT_express_instructions/SummaryInstructions.html" %}

{% endblock %}