{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Price Reveal
{% endblock %}

{% block content %}

    <script type="text/javascript">
            window.onload = function () {
                document.getElementById("arrive_time").value = (new Date()).toISOString();
            }
    </script>
    {% formfield  group.time_BdmResults with label=None  %}

    {% if group.BDM_type == 'CONT' %}

            {% if group.value_type == 'WTP' %}

                {% if group.msg_sent == True %}
                    <p> The value you stated ({{group.b_value}}) is at or above the randomly generated price ({{group.message_price}}).</p>
                    <p> Therefore, your message will be sent to {% if group.treatment == 'DM' %} your counterpart A.
                        {% elif group.treatment == 'TP' %} the third party reader. {% endif %} </p>

                {% elif group.msg_sent == False %}
                    <p> The value you stated ({{group.b_value}}) is below the randomly generated price ({{group.message_price}}).</p>
                    <p> Therefore, your message will not be sent to {% if group.treatment == 'DM' %} your counterpart A.
                        {% elif group.treatment == 'TP' %} the third party reader. {% endif %} </p>

                {% endif %}

            {% elif group.value_type == 'WTA' %}

                {% if group.msg_sent == True %}
                    <p> The value you stated ({{group.b_value}}) is at or above the randomly generated amount ({{group.message_price}}).</p>
                    <p> Therefore, your message will be sent to {% if group.treatment == 'DM' %} your counterpart A.
                        {% elif group.treatment == 'TP' %} the third party reader. {% endif %} </p>

                {% elif group.msg_sent == False %}
                    <p> The value you stated ({{group.b_value}}) is below the randomly generated amount ({{group.message_price}}).</p>
                    <p> Therefore, your message will not be sent to {% if group.treatment == 'DM' %} your counterpart A.
                        {% elif group.treatment == 'TP' %} the third party reader. {% endif %} </p>

                {% endif %}

            {% endif %}

    {% elif group.BDM_type == 'LIST' %}

            {% if group.value_type == 'WTP' %}

                {% if group.msg_sent == True %}
                    <p> The randomly chosen price is {{group.message_price}}. You stated that you were willing to pay
                        that price for sending the message.</p>
                    <p> Therefore, your message will not be sent to {% if group.treatment == 'DM' %} your counterpart A.
                        {% elif group.treatment == 'TP' %} the third party reader. {% endif %} </p>

                {% elif group.msg_sent == False %}
                    <p> The randomly chosen price is {{group.message_price}}. You stated that you were not willing to pay
                        that price for not sending the message.</p>
                    <p> Therefore, your message will  be sent to {% if group.treatment == 'DM' %} your counterpart A.
                        {% elif group.treatment == 'TP' %} the  third party reader. {% endif %} </p>

                {% endif %}

            {% elif group.value_type == 'WTA' %}

                {% if group.msg_sent == False %}
                    <p> The randomly selected amount is {{group.message_price}}. You stated that you were willing to accept
                        that price in exchange for not sending the message.</p>
                    <p> Therefore, your message will not be sent to {% if group.treatment == 'DM' %} your counterpart A.
                        {% elif group.treatment == 'TP' %} the third party reader. {% endif %} </p>

                {% elif group.msg_sent == True %}
                    <p> The randomly selected amount is {{group.message_price}}. You stated that you were not willing to accept
                        that price in exchange for not sending the message.</p>
                    <p> Therefore, your message will be sent to {% if group.treatment == 'DM' %} your counterpart A.
                        {% elif group.treatment == 'TP' %} the third party reader. {% endif %} </p>

                {% endif %}

            {% endif %}

    {% endif %}

    {% next_button %}

{% endblock %}

