{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    {% if group.value_type == 'WTP' %}
    Actual Price
    {% elif group.value_type == 'WTA' %}
    Actual Compensation
    {% endif %}
{% endblock %}

{% block content %}

    <script type="text/javascript">
            window.onload = function () {
                document.getElementById("arrive_time").value = (new Date()).toISOString();
            }
    </script>
    {% formfield  group.time_BdmResults with label=None  %}

    {% if group.BDM_type == 'CONT' %}

            {% if group.value_type == 'WTP' %}

                {% if group.msg_sent == True %}
                    <p> The randomly generated <em>actual price</em> is {{group.message_price}}. Your <em>valuation</em> ({{group.b_value}}) is bigger or equal than this <em>actual price</em>.</p>
                    <p> Therefore, your message will be sent to {% if group.treatment == 'DM' %} <em>Role A</em>.
                        {% elif group.treatment == 'TP' %} the <em>Reader</em>.{% endif %} You will be charged {{group.message_price}}.</p>

                {% elif group.msg_sent == False %}
                    <p> The randomly generated <em>actual price</em> is {{group.message_price}}. Your <em>valuation</em> ({{group.b_value}}) is smaller than this <em>actual price</em>.</p>
                    <p> Therefore, your message will NOT be sent to {% if group.treatment == 'DM' %} <em>Role A</em>.
                        {% elif group.treatment == 'TP' %} the <em>Reader</em>.{% endif %} You will not be charged.</p>
                {% endif %}

            {% elif group.value_type == 'WTA' %}

                {% if group.msg_sent == True %}
                    <p> The randomly generated <em>actual compensation</em> is {{group.message_price}}. Your <em>valuation</em> ({{group.b_value}}) is bigger or equal than this <em>actual compensation</em>.</p>
                    <p> Therefore, your message will be sent to {% if group.treatment == 'DM' %} <em>Role A</em>.
                        {% elif group.treatment == 'TP' %} the <em>Reader</em>.{% endif %}. You will not be compensated.</p>

                {% elif group.msg_sent == False %}
                    <p> The randomly generated <em>actual compensation</em> is {{group.message_price}}. Your <em>valuation</em> ({{group.b_value}}) is smaller than this <em>actual compensation</em>.</p>
                    <p> Therefore, your message will NOT be sent to {% if group.treatment == 'DM' %} <em>Role A</em>.
                        {% elif group.treatment == 'TP' %} the <em>Reader</em>.{% endif %} You will receive a compensation of {{group.message_price}}. </p>

                {% endif %}

            {% endif %}

    {% elif group.BDM_type == 'LIST' %}

            {% if group.value_type == 'WTP' %}

                {% if group.msg_sent == True %}
                    <p> The randomly chosen price is {{group.message_price}}. You stated that you were willing to pay
                        that price for sending the message.</p>
                    <p> Therefore, your message will be sent to {% if group.treatment == 'DM' %}<em>Role A</em>.
                        {% elif group.treatment == 'TP' %}the <em>Reader</em>.{% endif %} You will be charged {{ group.message_price }}.</p>

                {% elif group.msg_sent == False %}
                    <p> The randomly chosen price is {{group.message_price}}. You stated that you were not willing to pay
                        that price for sending the message.</p>
                    <p> Therefore, your message will not be sent to {% if group.treatment == 'DM' %} <em>Role A</em>.
                        {% elif group.treatment == 'TP' %} the <em>Reader</em>. {% endif %} You will not be charged.</p>
                {% endif %}

            {% elif group.value_type == 'WTA' %}

                {% if group.msg_sent == False %}
                    <p> The randomly selected amount is {{group.message_price}}. You stated that you were willing to accept
                        that price in exchange for not sending the message.</p>
                    <p> Therefore, your message will not be sent to {% if group.treatment == 'DM' %} <em>Role A</em>.
                        {% elif group.treatment == 'TP' %}the <em>Reader</em>. {% endif %} You will receive a compensation of {{ group.message_price }}.</p>

                {% elif group.msg_sent == True %}
                    <p> The randomly selected amount is {{group.message_price}}. You stated that you prefereed sending your message over receiving such an amount.</p>
                    <p> Therefore, your message will be delivered to {% if group.treatment == 'DM' %} <em>Role A</em>.
                        {% elif group.treatment == 'TP' %}the <em>Reader</em>. {% endif %} You will not receive the <em>actual compensation</em>.</p>

                {% endif %}

            {% endif %}

    {% endif %}

    {% next_button %}

    <br/> {# line break #}

    {% include "../../PTT_express_instructions/templates/PTT_express_instructions/SummaryInstructions.html" %}

{% endblock %}

