{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}
{% block title %}
{% if group.value_type == 'WTP' %}
Actual Price
{% elif group.value_type == 'WTA' %}
Actual Compensation
{% endif %}
{% endblock %}
{% block content %}
<script type="text/javascript">
window.onload = function() {
    document.getElementById("arrive_time").value = (new Date()).toISOString();
}
</script>
<input type="hidden" name="time_BdmResults" id="arrive_time">
{% if group.BDM_type == 'CONT' %}
{% if group.value_type == 'WTP' %}
{% if group.msg_sent == True %}
<p> The randomly generated <em>actual price</em> is {{group.message_price}}. Your <em>valuation</em> ({{group.b_value}}) is bigger or equal than this <em>actual price</em>.</p>
<p> Therefore,
    {% if group.treatment == 'DM' %}
    your message will be sent to <em>Role A</em>.
    {% elif group.treatment == 'TP' %}
    your message will be sent to the <em>Reader</em>.
    {% elif group.treatment == 'DIS' %}
    your can write something on this screen. The text will be deleted once you move onto the next screen.
    {% endif %}
<br/>
    You will be charged {{group.message_price}}.</p>
{% elif group.msg_sent == False %}
<p> The randomly generated <em>actual price</em> is {{group.message_price}}. Your <em>valuation</em> ({{group.b_value}}) is smaller than this <em>actual price</em>.</p>
<p> Therefore, your message will NOT be sent to {% if group.treatment == 'DM' %} <em>Role A</em>.
    {% elif group.treatment == 'TP' %} the <em>Reader</em>.{% endif %} You will not be charged.</p>
{% endif %}
{% elif group.value_type == 'WTA' %}
{% if group.msg_sent == True %}
<p> The randomly generated <em>actual compensation</em> is {{group.message_price}}. Your <em>valuation</em> ({{group.b_value}}) is bigger or equal than this <em>actual compensation</em>.</p>
<p> Therefore, your message will be sent to {% if group.treatment == 'DM' %} <em>Role A</em>.
    {% elif group.treatment == 'TP' %} the <em>Reader</em>.{% endif %} You will not be compensated.</p>
{% elif group.msg_sent == False %}
<p> The randomly generated <em>actual compensation</em> is {{group.message_price}}. Your <em>valuation</em> ({{group.b_value}}) is smaller than this <em>actual compensation</em>.</p>
<p> Therefore, your message will NOT be sent to {% if group.treatment == 'DM' %} <em>Role A</em>.
    {% elif group.treatment == 'TP' %} the <em>Reader</em>.{% endif %} You will receive a compensation of {{group.message_price}}. </p>
{% endif %}
{% endif %}
{% elif group.BDM_type == 'LIST' %}
{% if group.value_type == 'WTP' %}
{% if group.msg_sent == True %}
<p> The randomly chosen price is {{group.message_price}}. You stated that you were willing to pay
    that price for sending the message.</p>
<p> Therefore, your message will be sent to {% if group.treatment == 'DM' %}<em>Role A</em>.
    {% elif group.treatment == 'TP' %}the <em>Reader</em>.{% endif %} You will be charged {{ group.message_price }}.</p>
{% elif group.msg_sent == False %}
<p> The randomly chosen price is {{group.message_price}}. You stated that you were not willing to pay
    that price for sending the message.</p>
<p> Therefore, your message will not be sent to {% if group.treatment == 'DM' %} <em>Role A</em>.
    {% elif group.treatment == 'TP' %} the <em>Reader</em>. {% endif %} You will not be charged.</p>
{% endif %}
{% elif group.value_type == 'WTA' %}
{% if group.msg_sent == False %}
<p> The randomly selected amount is {{group.message_price}}. You stated that you were willing to accept
    that price in exchange for not sending the message.</p>
<p> Therefore, your message will not be sent to {% if group.treatment == 'DM' %} <em>Role A</em>.
    {% elif group.treatment == 'TP' %}the <em>Reader</em>. {% endif %} You will receive a compensation of {{ group.message_price }}.</p>
{% elif group.msg_sent == True %}
<p> The randomly selected amount is {{group.message_price}}. You stated that you prefereed sending your message over receiving such an amount.</p>
<p> Therefore, your message will be delivered to {% if group.treatment == 'DM' %} <em>Role A</em>.
    {% elif group.treatment == 'TP' %}the <em>Reader</em>. {% endif %} You will not receive the <em>actual compensation</em>.</p>
{% endif %}
{% endif %}
{% endif %}
<br />
{% if group.treatment == 'DIS' and group.msg_sent %}
<textarea name="b_message" rows="10" cols="40" id="id_b_message" class="form-control area"></textarea>
{% endif %}
<br />
{% next_button %}
<br /> {# line break #}
<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
<script type="text/javascript">
$(document).ready(function() {
    $("#expand").hide();
    $("#expand-instructions").click(function() {
        if ($("#expand").is(":visible")) {
            $("#expand").hide("fast");
            return;
        }
        $("#expand").show("fast");
    });
});
</script>
<style>
    #expand{
        padding-top: 10px;
    }
</style>

<button id="expand-instructions" class="btn " type="button" style="border-color: DimGray; color:DimGray"> Show Instructions</button>
{####################################################################}
{####################################################################}
{####################################################################}
<div id="expand" class="instructions well well-lg"> {# paper effect starts #}

    <h1> Stage 2 - Instructions </h1>

{####################################################################}
{#  Stage 2: general | All but TP #}

    {% if group.treatment != 'TP' and group.treatment != 'TP-R' %}
    <p> In Stage 2, called <em>Interaction Stage</em>, you will interact with another participant in the room. First, you will be anonymously paired with one another. This matching is random and, most likely, you will <b>not</b> be matched with the person sitting next to you. You will then be randomly assigned to be either of <strong><em>Role A</em></strong> or of <strong><em>Role B</em></strong>. Each pair will consists of one person in <em>Role A</em> and one person in <em>Role B</em>. You will be informed about your role on your computer screen as soon as Stage 2 starts. Since this is a one-time interaction, that will be the only role you will participate under. You will not be informed about the identity of the person you are paired with, neither during nor after the experiment. </p> </br>
    <h4> Role A:</h4>
    <p> If you are assigned <em>Role A</em>, you are to decide how much of <em>Role B</em>’s <em>task income</em> you would like to transfer into your own account. You are able to transfer anywhere from 0 to 100 percent of <em>Role B</em>’s <em>task income</em>, but you will not be able to transfer B’s endowment. Once you make your decision, it cannot be changed.</p> </br>

    <h4> Role B:</h4>
    <p> If you are assigned <em>Role B</em>, you will first be asked to guess what percentage of your <em>task income </em> you think <em>Role A</em> will transfer to his/her own account.</p>
{% endif %}

{#    Stage 2: general | only TP #}
{% if group.treatment  == 'TP' or group.treatment == 'TP-R' %}

    <p> In Stage 2, called <em>Interaction Stage</em>, there are three possible roles for each participant, <em>Role A</em>, <em>Role B</em> and <em>Role R</em>. First, one participant will be randomly assigned <em>Role R</em>. The rest of participants will be anonymously paired in groups of two. Within each group, roles will be randomly assigned so that there will be one person in <em>Role A</em> and one in <em>Role B</em>. This matching is random and, most likely, you will <b>not</b> be matched with the person sitting next to you. You will be informed about your role on your computer screen once Stage 2 starts. Since this is a one-time interaction, that will be the only role you will participate under. You will not be informed about the identity of the person you are paired with, neither during nor after the experiment.</p>

    <h4> Role R: </h4>
    <p> If you are assigned <em>Role R</em> (Reader) your only task is to read the messages written by participants in <em>Role B</em> who are able to send a message to you. The Reader is the only participant that is going to read these messages. None of the other participants in today's session will ever read them. The Reader will not receive any information about participants of Roles A or B. After reading the messages, the Reader will confirm having read them.</p>

    <h4> Role A:</h4>
    <p> If you are assigned <em>Role A</em>, you are to decide how much of <em>Role B</em>’s <em>task income</em> you would like to transfer into your own account. You are able to transfer anywhere from 0 to 100 percent of <em>Role B</em>’s <em>task income</em>, but you will not be able to transfer B’s endowment. Once you make your decision, it cannot be changed. The image below shows the screen where you will make your decision: </p> </br>

        <div style="align-content: center; border:0px solid gray">
            <img alt="Screenshot A's Decision" src="{% static "PTT_express_instructions/A_decision_screen.png" %}" width="700" align="center"/>
        </div> </br>

    <h4> Role B:</h4>
    <p> If you are assigned <em>Role B</em>, you will first be asked to guess what percentage of your <em>task income</em> the participant in <em>Role A</em> will transfer to his/her own account.</p>
      {# Role B must continue in #}

{% endif %}


{#  No message end #}
{% if group.treatment == 'NM' %}
    <p> You will then be informed about the amount that has been taken from your account by the participant in <em>Role A</em> that you are matched with.</p> </br>
{% endif %}

{#  Free message end #}
{% if group.treatment == 'FM' %}
    <p> You will then be informed about the amount that has been taken from your account by the participant in <em>Role A</em> that you are matched with. You will get the opportunity to write and send a message to him/her. This is a one-way, one-time message, and <em>Role A</em> will not have the chance to reply or change his/her decision.</p> </br>
{% endif %}




{#################################################################}
{# Stage 2: paid treatments DM/TP WTA/WTP BDMCONT/BDMLIST/SOP #}

{% if group.treatment == 'DM' or group.treatment == 'TP' or group.treatment == 'DIS' %}

    <p> You will then be informed about the amount that has been taken from your account by the participant in <em>Role A</em>.
        {% if treatment == 'DM' %}
            You will get the opportunity to write and send a message to him/her. This is a one-way, one-time message, and <em>Role A</em> will not have the chance to reply or change his/her decision.
        {% elif treatment == 'TP' %}
            You will get the opportunity to write and send a message to the Reader. This is a one-way, one-time message, and the <em>Reader</em> will not have the chance to reply. The participant in <em>Role A</em> will not see this message.
        {% elif treatment == 'DIS' %}
    Then you may get the opportunity to write something on the computer screen. <b>Whatever you write, however, will be deleted as soon as you go to the next page. No one, not even the experimenter, will ever see this.</b>
        {% endif %} </p>


    {# paid messages: DM/TP WTA/WTP BDMCONT #}
    {% if group.value_type == 'WTP' and group.elicitation_method == 'BDM' and group.BDM_type == 'CONT' %}

        <p> You will be asked to state the maximum amount that you are willing to pay
        {% if treatment == 'DM' or  treatment == 'TP' %}
         to send your message.
        {% elif treatment == 'DIS' %}
         for writing something on this screen.
        {% endif %}
         We will refer to this amount as your <em>valuation</em>.</p>

        <p> After you submit your <em>valuation</em>, you will be informed about the <em>actual price</em> of
        {% if treatment == 'DM' or  treatment == 'TP' %}
         sending your message.
        {% elif treatment == 'DIS' %}
         writting on this screen.
        {% endif %}
         The <em>actual price</em> is randomly generated by the computer, and all numbers between 0 and 3 dollars are equally likely.</p>

        <p>
        {% if treatment == 'DM' or  treatment == 'TP' %}
         If your <em>valuation</em> is greater than or equal to the <em>actual price</em>, your message will be sent, and you will pay the <em>actual price</em>. If instead your <em>valuation</em> is lower than the <em>actual price</em>, then you do not get to deliver your message, and you will not be charged.</p>
        <p> Notice that, since your message is delivered only when your <em>valuation</em> exceeds the <em>actual price</em>, you will never pay for sending your message a price higher than your stated <em>valuation</em>.
        {% elif treatment == 'DIS' %}
         If your <em>valuation</em> is greater than or equal to the <em>actual price</em>, you will be able to proceed to the screen where you can write something, and you will pay the <em>actual price</em>. If instead your <em>valuation</em> is lower than the <em>actual price</em>, then you will not get to write anything, and you will not be charged. </p>
        {% endif %}        </p>

        </br>

{#        reviewed with brit up to this point. Nov 03#}

    {% elif value_type == 'WTA' and elicitation_method == 'BDM' and BDM_type == 'CONT' %}

        <p> You will be asked to state the minimum amount that you are willing to accept for NOT sending your message. That is, your will report the least amount you would be willing to receive to forgo sending your message. We will refer to this amount as your <em>valuation</em>.</p>

        <p> After you submit your <em>valuation</em>, you will be informed about the <em>actual compensation</em> you will receive for not sending your message. The <em>actual compensation</em> is randomly generated by the computer, and all numbers between {% if not points %}${%endif%}0 {% if points %}points{% endif %} and 3 are equally likely.</p>

        <p> If the <em>actual compensation</em> is lower than your <em>valuation</em>, your message will be delivered and you will not receive any compensation. When the <em>actual compensation</em> is greater than or equal to your <em>valuation</em>, your message will not be delivered, and you will receive the <em>actual compensation</em>.</p>
        <p> Notice that, since your message is delivered only when your <em>valuation</em> exceeds the <em>actual compensation</em>, you will never receive a compensation for not sending that is below your stated <em>valuation</em>.
        </p>

        </br>

    {% endif %}


    {# paid messages: WTA/WTP BDMLIST #}
    {% if group.value_type == 'WTP' and group.elicitation_method == 'BDM' and group.BDM_type == 'LIST' %}

    <p> You will be asked whether you are willing to pay a certain price to send your message. This question will be repeated for different prices.</p>

    <p> After you submit your responses, the computer will randomly select one of the prices listed. If you were willing to pay the selected price, your message will be sent, and you will pay the selected price. If you were not willing to pay the selected price, your message will not be sent, and you will not be charged. </p> </br>

    {% elif group.value_type == 'WTA' and group.elicitation_method == 'BDM' and group.BDM_type == 'LIST' %}

    <p> You will be asked to choose between sending your message or receiving a certain amount. This question will be repeated for a list of different amounts.</p>

    <p> After you submit your responses, the computer will randomly select one of the listed amounts. Your decision for the randomly selected amount will be then implemented. That is, your message will be delivered only if you had chosen 'send message' over receiving the corresponding amount. When calculating your final earnings, the randomly selected amount will be called <em>actual compensation</em>.
    </p>
        </br>


    {% endif %}


    {# paid messages: WTA/WTP SOP #}
    {% if group.value_type == 'WTP' and group.elicitation_method == 'SOP' %}

    <p> You will be asked whether you are willing to pay a certain price to send your message. If you respond positively, your message will be sent, and you will pay that price. If you respond negatively, your message will not be sent, and you will not pay anything. </p> </br>

    {% elif group.value_type == 'WTA' and group.elicitation_method == 'SOP' %}

    <p> You will be asked whether you are willing to accept a certain amount in exchange for NOT sending your message. If you respond positively, your message will not be sent, and you will receive the certain amount as compensation. If you respond negatively, your message will be sent, and you will not receive any compensation. </p> </br>

    {% endif %}

{% endif %}


{#################################################################}
{# everyone PAYOFFS and closing  #}

<h4> Final Earnings: </h4>

<p> After this interaction, members of each pair will be informed about both participants' <em>final earnings</em>, which will be calculated as follows. </p> </br>

    <p style="color: chocolate"><em> Role A's earnings = </em></p>
    <p><em> Endowment + Task income + Money taken from B's account.</em></p> </br>

{% if group.treatment == 'NM' or group.treatment == 'FM'%}
    <p style="color: chocolate"><em> Role B's earnings = </em></p>
    <p><em>Endowment + Task income - Money taken by Role A. </em> </p>
    </br>
{% endif %}

{% if group.treatment == 'DM' or group.treatment == 'TP' or group.treatment == 'DIS' %}

    {% if group.value_type == 'WTP' %}

        <p style="color: chocolate"><em> Role B's earnings when
    {% if group.treatment == 'DM' or group.treatment == 'TP'%}
            message <b>is</b> sent =
    {% elif group.treatment == 'DIS' %}
            they <b>are</b> able to write something =
        {% endif %}
         </em></p>

        <p><em> Endowment + Task income - Money taken by Role A -
    {% if group.treatment == 'DM' or group.treatment == 'TP'%}
        actual price of sending message.
    {% elif group.treatment == 'DIS' %}
        actual price of writing on the screen.
    {% endif %}
    </em></p>
        </br>
        <p style="color: chocolate"><em> Role B's earnings when
    {% if group.treatment == 'DM' or group.treatment == 'TP'%}
            message <b>is not</b> sent =
    {% elif group.treatment == 'DIS' %}
            they <b>are not</b> able to write something =
        {% endif %}
         </em></p>
        <p><em> Endowment + Task income - Money taken by Role A.</em></p>
        <p></p>

    {% endif %}

    {% if group.value_type == 'WTA' %}
        <p style="color: chocolate"><em> Role B's earnings when message <b>is not</b> sent = </em></p>
        <p><em>Endowment + Task income - Money taken by Role A + actual compensation.</em></p>
        <p> </p>
        <p style="color: chocolate"><em> Role B's earnings when message <b>is</b>
    {% if group.treatment == 'DM' or group.treatment == 'TP'%}
            sent =
    {% elif group.treatment == 'DIS' %}
            written =
        {% endif %}
        </em></p>
        <p><em>Endowment + Task income - Money taken by Role A.</em></p>

    {% endif %}

    {% if group.treatment == 'TP' %}
        <p> </p>
        <p style="color: chocolate"><em> Role R's earnings = </em></p>
        <p><em> Endowment + Task income.</em></p>
    {% endif %}

{% endif %}

    </div>   {#  paper effect ends#}
{####################################################################}
{####################################################################}
{####################################################################}

{% endblock %}