{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    B guesses
{% endblock %}

{% block content %}

    {# this records the timestamp #}
    <script type="text/javascript">
            window.onload = function () {
                document.getElementById("arrive_time").value = (new Date()).toISOString();
            }
    </script>
    {% formfield  group.time_BPredicts with label=None  %}


    <p> Your role is {{player.role}}. </p>
    <p> At this moment, your counterpart A is deciding what percentage of your task income ({{player.task_income}})
        to transfer to his/her own account.</p>
    <p> What percentage of your task income do you think A will transfer into his/her own account? </p>
    <p> Use the slider to provide your guess. </p>

    {% formfield  group.expected_take_rate with label=None %}

    {% next_button %}

{% endblock %}
