{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Role B's guess
{% endblock %}

{% block scripts %}

    <script type="text/javascript">
            window.onload = function () {
                document.getElementById("arrive_time").value = (new Date()).toISOString();
            }
    </script>

    <script type="text/javascript" src="{% static "jquery-ui/jquery-ui.min.js" %}"></script>

    <script>
        jQuery(document).ready(function ($) {
            $("#slider")
                .slider({
                    start: function () {
                        $(this).children(".ui-slider-handle").show();
                        // removes the start listener after its first calling
                        // probably not necessary
                        $(this).slider({start:undefined});
                    },
                    slide: function (event, ui) {
                        $("#slider_val").text(ui.value);
                        $("#dollars_taken").text((ui.value/100 * {{b_task_income}}).toFixed(2) );

                    },
                    stop: function (event, ui) {
                        $("#id_expected_take_rate").val(ui.value);
                    }})
                .children(".ui-slider-handle").hide();
        });
    </script>

{% endblock %}


{% block styles %}
    <link href="{% static "jquery-ui/jquery-ui.min.css" %}" rel="stylesheet">
{% endblock %}


{% block content %}

    {% formfield  group.time_BPredicts with label=None  %}

    <p> At this moment, the participant in <em>Role A</em> with whom you are matched is deciding what percentage of your <em>task income</em> ({{player.task_income}})
        to transfer to his/her own account.</p>
    <p> What percentage do you think Role A will take from your account? Use the slider below to provide your guess. </p>
    <p> </p>
    <br/>

    <div style="width: 80%; margin: auto;">
        <div style="text-align: center">You guess A will take <span id="slider_val">__</span>% of your task income
        ({% if not points %}${%endif%}<span id="dollars_taken">_.__</span>{% if points %} points{% endif %})</div>        <div><span class="pull-left">0%</span><span class="pull-right">100%</span></div>
        <div id="slider" style="clear: both; width: 96%; margin: auto;"></div>

    </div>
    <br/>

    {% formfield  group.expected_take_rate with label=None %}


    {% next_button %}

{% endblock %}
