{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %} Message from Role B {% endblock %}

{% block scripts %}
    {# this records the timestamp #}
    <script type="text/javascript">
            window.onload = function () {
                document.getElementById("arrive_time").value = (new Date()).toISOString();
            }
    </script>
{% endblock %}

{% block content %}

     {% formfield  group.time_DisplayMessageToA with label=None  %}

     <br/>

        <div class="panel panel-default" style="margin-bottom:10px">
            <div class="panel-body">
                <p><em>"{{group.b_message}}"</em></p>
            </div>
        </div>

     <br/>

 {#    {% next_button %}#}
     <button class="btn btn-primary btn-large">I have read the message</button>

 {% endblock %}