{% extends "global/Base.html" %}
{% block content %}


<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
<script src="/static/emoji_keyboard/emojionearea.js"></script>
<link rel="stylesheet" type="text/css" href="/static/emoji_keyboard/emojionearea.min.css">
<script type="text/javascript">
    $(document).ready(function(){
        $(".area").emojioneArea();
    });
</script>

{% endblock content %}
