{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Income and Role
{% endblock %}

{%  block scripts %}

{# this records the timestamp #}
    <script type="text/javascript">
            window.onload = function () {
                document.getElementById("arrive_time").value = (new Date()).toISOString();
            }
    </script>

{% endblock %}


{% block content %}

     {% formfield  player.time_RolesIncome with label=None  %}

        <p> You received <b>{{player.endowment}} of <em> endowment </em></b> and earned <b>{{player.task_income}} of <em>task income</em></b>. </p>

        <p> Therefore, your <b><em>available income</em></b> at this point is <b>{{player.available_income0}}</b>. </p>

        <br/>

        {% if group.treatment != 'TP-R' %}
            <p> Your have been assigned <em><b> Role {{player.role}}</b></em>. </p>
            <br/>
            <p> The participant with whom you are matched received {{others_endowment}} of <em> endowment </em> and earned {{others_task_income}} of <em>task income</em>. </p>

        {% elif group.treatment == 'TP-R' %}
            <p> Your have been assigned <em><b> Role {{player.role}}</b></em> (Reader). </p>
        {% endif %}


    <br/>

    {% next_button %}

    <br/> {# line break #}

    {% include "../../PTT_express_instructions/templates/PTT_express_instructions/SummaryInstructions.html" %}

{% endblock %}


{#<button type="button" class="btn btn-default" data-toggle="collapse" data-target="#instructions">#}
{#Show Instructions#}
{#</button>#}
{##}
{#<div id="instructions" class="collapse">#}
{##}
{#{% include "gift_exchange_sm/Instructions_Emp.html" %}#}
{#{% include "gift_exchange_sm/Instructions_Wor.html" %}#}
{#</div>#}