{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Income and Role
{% endblock %}

{%  block scripts %}

{# this records the timestamp #}
    <script type="text/javascript">
            window.onload = function () {
                document.getElementById("arrive_time").value = (new Date()).toISOString();
            }
    </script>

{% endblock %}


{% block content %}

     {% formfield  player.time_RolesIncome with label=None  %}

    {% if group.treatment != 'TP-R' %}
        <p> You received {{player.endowment}} of <em> endowment </em> and earned {{player.task_income}} as <em>task income</em>. </p>

        <p> Your <em>available income</em> at this point is {{player.available_income0}}. </p>

        <p> Your have been assigned <em><b> Role {{player.role}} </b></em>. </p>

    {% elif group.treatment == 'TP-R' %}
        <p> You received {{player.endowment}} of <em> endowment </em> and earned {{player.task_income}} as <em>task income</em>. </p>

        <p> Your have been assigned <em><b> Role {{player.role}} </b></em> (Reader). </p>

    {% endif %}
    <br/>

    {% next_button %}

{% endblock %}


{#<button type="button" class="btn btn-default" data-toggle="collapse" data-target="#instructions">#}
{#Show Instructions#}
{#</button>#}
{##}
{#<div id="instructions" class="collapse">#}
{##}
{#{% include "gift_exchange_sm/Instructions_Emp.html" %}#}
{#{% include "gift_exchange_sm/Instructions_Wor.html" %}#}
{#</div>#}