{% comment %}
    submit.html
    Ankur Goswami (agoswam3@ucsc.edu)
    Factored out submit.
    Make sure all text fields are filled out.
    Mirrors advance.html
{% endcomment %}

{% block sub %}
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            var inputs = $('.form-control');
            var validate = function(){
                var filled = inputs.filter(function(index){
                    return $(this).val() != "" && $(this).attr("id") != "arrive_time"
                });
                if(filled.length != 0){
                    $(".disp").prop('disabled', false);
                    $("#invalid-fields").hide();
                } else {
                    $(".disp").prop('disabled', true);
                    $("#invalid-fields").show();
                }
            }
            validate();
            inputs.keyup(validate);
        });
    
    </script>

    <input class="btn btn-large btn-primary next-button disp" type="submit" value="Submit">
    <span id="invalid-fields" style="color: darkgray;"> Write your message before submitting. </span>


{% endblock sub %}