{% comment %}
    submit.html
    Ankur Goswami (agoswam3@ucsc.edu)
    Factored out submit.
    Make sure all text fields are filled out.
    Mirrors advance.html
{% endcomment %}

{% block sub %}
    <script type="text/javascript">
        $(document).ready(function () {
            var validate = function(){
                var inputs = $(".form-control:not(.area, #arrive_time)");
                var emojiareas = $(".emojionearea-editor");
                var boolReduce = function(arr){
                    var flag = true;
                    arr.each(function(index){
                        if($(this).html() == "" && $(this).val() == ""){
                            flag = false;
                            return false;
                        }
                    });
                    return flag;
                }
                var areInputsFilled = boolReduce(inputs);
                var areEmojisFilled = boolReduce(emojiareas);
                if(areInputsFilled && areEmojisFilled){
                    $(".disp").prop('disabled', false);
                    $("#invalid-fields").hide();
                } else {
                    $(".disp").prop('disabled', true);
                    $("#invalid-fields").show();
                }
            }
            validate();
            $('*').keyup(validate);
        });
    
    </script>

    <input class="btn btn-large btn-primary next-button disp" type="submit" value="Submit">
    <span id="invalid-fields" style="color: darkgray;"> Write your message before submitting. </span>


{% endblock sub %}