{% extends "global/Base.html" %} {% load staticfiles otree_tags %}

{% block title %} Message Box{% endblock %}

{# have this checked and cleaned#}
{% block scripts %}

    <script type="text/javascript" src="{% static "jquery-ui/jquery-ui.min.js" %}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            var input = $('#id_b_message');
            input.text("");
            var validate = function(){
                if(input.val() != ""){
                    $(".disp").prop('disabled', false);
                    $(".no-input").prop('disabled', true);
                } else {
                    $(".disp").prop('disabled', true);
                    $(".no-input").prop('disabled', false);
                }
            }
            $("#id_b_message").keyup(function(){
                validate();
            });
        });
    </script>

    {# this records the timestamp #}
    <script type="text/javascript">
            window.onload = function () {
                document.getElementById("arrive_time").value = (new Date()).toISOString();
            }
    </script>

{% endblock %}

{% block content %}

    {% formfield  group.time_WriteMessage with label=None  %}

    {% if group.treatment == 'DM' %}
        <p> Message to counterpart A.</p>
    {% elif group.treatment == 'TP' %}
        <p> Message to reader.</p>
    {% endif %}

{% formfield group.b_message with label="Write a message here" %}

<input class="btn btn-primary btn-large btn-primary next-button disp" type="submit" value="Next" disabled="disabled">
<input class="btn btn-primary btn-large btn-primary next-button no-input" type="submit" value="Don't send a message">


{% endblock %}