{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Round {{ subsession.round_number }} of {{ Constants.num_rounds }}
{% endblock %}

{% block content %}

    <h4>Instruction</h4>
    <p>
        Matching pennies
        Player 1 is 'Mismatcher' and win if choices do not match
        Player 2 is 'Matcher' and win if choices do match
    </p>

    <p>
        A random round will be chosen for payment
    </p>

    <h4>
        Round history
    </h4>
    <table class="table">
        <tr>
            <th>  Round  </th>
            <th>  Player and outcome  </th>
        </tr>
        {% for p in player_in_previous_rounds %}
            <tr>
                <td> {{ p.subsession.round_number }}</td>
                <td>
                    {{ p.role }} and {%  if p.is_winner %}
                    won {% else %} lost {% endif %}
                </td>
=            </tr>
        {% endfor %}
    </table>

    <p>
        In this round, you are the {{ player.role }}
    </p>

    {% formfield player.penny_side with label="My choice" %}

    {% next_button %}

{% endblock %}
