{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Survey
{% endblock %}

{% block scripts %}
    {# this records the timestamp #}
    <script type="text/javascript">
            window.onload = function () {
                document.getElementById("arrive_time").value = (new Date()).toISOString();
            }
    </script>
{% endblock %}

{% block content %}
    <input type="hidden" name="time_Demographics" id="arrive_time">


    <p>
        Please answer the following questions.
    </p>

    <br/>
    {% formfield player.q_age %}
    <br/>
    {% formfield player.q_gender %}
    <br/>
    {% formfield player.q_income %}
    <br/>
    {% formfield player.q_zipcode %}
    <br/>
    {% formfield player.q_country %}
    <br/>
    {% formfield player.q_opinion %}
    <br>
    {% formfield player.q_station %}
    <br/>

    {% next_button %}

{% endblock %}

{% block content_at_bottom_of_body %}

    <script type="text/javascript">
        function sort(a, b) {
            return (a.innerHTML > b.innerHTML) ? 1 : -1;
        }
        $('#id_q_country option').sort(sort).appendTo('#id_q_country');
    </script>

{% endblock %}
