{% extends "global/Base.html" %}
{% load staticfiles otree_tags index %}

{% block title %}
    Questionnaire - Page 2 (of 2)
{% endblock %}


{% block styles %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
            window.onload = function () {
                document.getElementById("arrive_time").value = (new Date()).toISOString();
            }
    </script>
{% endblock %}

{% block content %}

    {% formfield  player.time_EmoQuestPage2 with label=None  %}

    <p> This questionnaire consists of a number of words that describe different feelings and emotions. </p>

    <p> Read carefully each item and use the corresponding radio buttons to indicate how strongly you feel that way, at the <b>present moment</b>.</p>

    <p> In the 1-7 scale:
        <b style="color: green">1 = not at all</b>,
        <b style="color: green">4 = moderately</b>, and
        <b style="color: green">7 = extremely</b>.

    <p> Make sure you respond to all the items / sliders before you press the next button. </p>

    <br/>

    <table class="table table-striped" >
        <tr>
            <td align="right"> <strong> <em> Feeling / Emotion: </em> </strong> </td>

            <td align="center" > <strong> <em> Right Now </em>
                <b style="color: grey; ">(1 = not at all; 4 = moderately; 7 = extremely)</b>
 </em> </strong> </td>

        </tr>
          {% for field in form|allButLast %}

        <tr>
            <td align="right"> <strong> {{ emotions|index:forloop.counter0 }} </strong>  </td>
            <td style="color:grey", align="center" >{% formfield field with label=None %} </td>
        </tr>
         {% endfor %}
    </table>

    <br/>

    {% next_button %}

{% endblock %}

